<div class="page-width">
  <div class="about__area is-sp">
    <div class="about__area2">
      <div class="about__area3">
        <div class="about__area4">
          <p class="section__en">What’s Angelite</p>
          <h2 class="section__title">アンジェライトとは？</h2>
          <p class="about__txt">アンジェライトは、ムレとモレを防ぐことのできる機能性素材を使用したインナーショーツです。 ナプキンをつけたショーツの上から履くことで、経血のモレを防ぎます。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about__btnArea">
    <a href="https://c2d6ab-2.myshopify.com/pages/about" class="about__btn">詳しく見る</a>
  </div>
  <div class="about__boxs">
    <div class="about__picture">
      <img src="{{ 'person.png' | asset_url }}" alt="">
    </div>
    <div class="about__box is-pc">
      <div class="about__textContents">
        <div class="about__container">
          <div class="about__wrapper">
            <div class="about__wrap">
              <p class="section__en">What’s Angelite</p>
              <h2 class="section__title">アンジェライトとは？</h2>
              <p class="about__text">女性にとってブルーデイとなる生理をサポートするアンジェライト。防水と透湿機能を兼ね備えていて、モレやムレを防ぎます。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="about__btnArea">
        <a href="https://c2d6ab-2.myshopify.com/pages/about" class="about__btn">詳しく見る</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "about",
    "tag": "section",
    "class": "about",
    "presets": [
      {
        "name": "about"
      }
    ]
  }
{% endschema %}