<div class="page-width">
  <p class="section__en">Line up</p>
  <h2 class="section__title">商品情報</h2>
  <div class="info__boxs">
    <div class="info__box">
      <div class="info__wrapper">
        <div class="info__picture">
          <img src="{{ 'info.png' | asset_url }}" alt="">
        </div>
        <p class="info__title">機能性インナーショーツ<br class="is-sp">（ボクサータイプ）</p>
        <p class="info__price">¥5,500
          <span class="info__price--inline">税込</span>
        </p>
        <p class="info__text">運動するときや、おしゃれ着を着たいときにおすすめなボクサータイプ。股下が短いので激しく動いても気になりません。</p>
        <div class="info__btnArea">
          <a href="https://c2d6ab-2.myshopify.com/products/%E3%82%A2%E3%83%B3%E3%82%B8%E3%82%A7%E3%83%A9%E3%82%A4%E3%83%88-%E6%A9%9F%E8%83%BD%E6%80%A7%E3%82%A4%E3%83%B3%E3%83%8A%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%BC%E3%83%84-%E3%83%9C%E3%82%AF%E3%82%B5%E3%83%BC%E3%82%BF%E3%82%A4%E3%83%97" class="info__btn">購入はこちら</a>
        </div>
      </div>
    </div>
    <div class="info__box">
      <div class="info__wrapper">
        <div class="info__picture">
          <img src="{{ 'info2.png' | asset_url }}" alt="">
        </div>
        <p class="info__title">機能性インナーショーツ<br class="is-sp">（レースタイプ）</p>
        <p class="info__price">¥5,500
          <span class="info__price--inline">税込</span>
        </p>
        <p class="info__text">仕事や睡眠時は、すこし長めのデザインでしっかりガード。太ももまで生地があるため、股部分からのモレも防ぐことができます。</p>
        <div class="info__btnArea">
          <a href="https://c2d6ab-2.myshopify.com/products/%E3%82%A2%E3%83%B3%E3%82%B8%E3%82%A7%E3%83%A9%E3%82%A4%E3%83%88-%E6%A9%9F%E8%83%BD%E6%80%A7%E3%82%A4%E3%83%B3%E3%83%8A%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%BC%E3%83%84-%E3%83%AC%E3%83%BC%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%97" class="info__btn">購入はこちら</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "info",
    "tag": "section",
    "class": "info",
    "presets": [
      {
        "name": "info"
      }
    ]
  }
{% endschema %}