<div class="page-width">
  <p class="section__en">follow Us</p>
  <h2 class="section__title">Angelite公式インスタグラム</h2>
  <p class="insta__text">生理について知識が身につく、<br class="is-sp">コラムやクイズ、<br class="is-sp">商品の魅力を発信しています。</p>
</div>

{% schema %}
  {
    "name": "instaHeading",
    "class": "instaHeading",
    "presets": [
      {
        "name": "instaHeading"
      }
    ]
  }
{% endschema %}