<div class="page-width">
  <a href="https://www.instagram.com/angelite_official/" class="insta__btn">詳しく見る</a>
</div>

{% schema %}
  {
    "name": "instaBtn",
    "class": "instaBtn",
    "presets": [
      {
        "name": "instaBtn"
      }
    ]
  }
{% endschema %}