<div class="page-width">
  <p class="section__en">Q&A</p>
  <h2 class="section__title">よくあるご質問</h2>
  <div class="qa__boxs">
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">どのような場面で使うことができますか？</p>
      </div>
      <div class="qa__body">生理時に下着の上から着用することで、従来の生理用品＋αの安心感が得られます。高い透湿性によって蒸れない、防水性によって漏れないので安心して過ごすことができます。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">コーティング面がボトムスの裏地に引っ掛かりますか？</p>
      </div>
      <div class="qa__body">ボトムスは問題ありません。着用感も、素材がとても薄いので履いている感覚はほとんどありません。ただし、スカートの裏地にポリエステルが使用されている場合は、擦れや摩擦音が気になる可能性があります。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">水分がしみ込んだ後はどうなりますか？</p>
      </div>
      <div class="qa__body">生地が水分を含み、肌側に通さないので装用感には問題なく、湿った感じもしません。ただし、水分を吸収した箇所にシボが出ます。シボは乾燥すると消失しますので、機能や見た目には影響しません。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">本当に漏れませんか？</p>
      </div>
      <div class="qa__body">ラミネート加工部分は、山登りやレインウェアにも使用されるほどの高い防水性があります。また水分をはじくのではなく、染みこませる為、水分が垂れることはありません。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">どのように履きますか？</p>
      </div>
      <div class="qa__body">ナプキンをつけたショーツやサニタリーショーツの上にプラスワンしてご使用ください。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">生理時以外に普段履きすることもできますか？</p>
      </div>
      <div class="qa__body">はい、使用できます。学生の方は制服のスカートの下に履くオーバーパンツ代わりにご使用いただけます。生理前のモレ予防として履いておくのもおすすめです。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">洗濯の方法と干し方を教えてください。</p>
      </div>
      <div class="qa__body">アンジェライトは表面がデリケートな素材でできているため、洗濯機で洗濯する場合は洗濯ネットに入れてください。手洗いの場合は、優しく押し洗いをお願いします。<br />干す際には直射日光を避け、陰干しにしてください。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">カラーバリエーションはいくつありますか？</p>
      </div>
      <div class="qa__body">ブラックとベージュの2色がございます。商品詳細ページに画像を掲載しておりますので、そちらを参考にお選びくださいませ。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">初潮を迎えた小学生の女の子でも使えますか？</p>
      </div>
      <div class="qa__body">小学生の方にもご使用いただけます。「ボクサータイプ」は【XS】【S】【M】【L】【XL】の5サイズをご用意しております。詳しいサイズ寸法は商品詳細ページに掲載しておりますので、そちらを参考にお選びください。</div>
    </div>
    <div class="qa__box">
      <div class="qa__header">
        <p class="qa__logo">Q.</p>
        <p class="qa__title">ボトムを履いた時にラインが浮き出てしまうことはありませんか？</p>
      </div>
      <div class="qa__body">シームレス仕様なので、縫い目がなく洋服に響きにくくなっております。</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "qa",
    "tag": "section",
    "class": "qa",
    "presets": [
      {
        "name": "qa"
      }
    ]
  }
{% endschema %}