<a href="#">
  <img src="{{ 'arrow-top.png' | asset_url }}" alt="">
</a>

{% schema %}
  {
    "name": "totop",
    "class": "to__top",
    "presets": [
      {
        "name": "totop"
      }
    ]
  }
{% endschema %}